
#nav-bar {
  background-image: linear-gradient(to bottom right, #50b0f3, #1a95e0);
  height: 80px;
  width: 100%;
  color: #e8fdff;
  padding-right: 2em;
  padding-left: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  color: #eeeeee;
  bottom: 20px;
  float: left;
  font-size: 200%;
  line-height: 80px;
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

#nav-bar #compose-button {
  float: right;
  height: 55px;
  width: 110px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 5px;
  background-color: white;
  color: #50b0f3;
  display: inline;
  vertical-align: middle;
  letter-spacing: 2px;
  }

  #nav-bar #compose-button:hover {
    background-color: #d7e4ec;
    transition: 0.3s;
  }

   #nav-bar #compose-button:focus {
    outline: none;
}