#tweet-container article {
  background-color: white;
  border-radius: 5px;
  border-left: 6px solid #f1f2f4;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom:30px;
  margin-top: 20px;
  -webkit-box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
  -moz-box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
  box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
}

#tweet-container article:hover {
  border-left: 6px solid #50b0f3;
  transition: 0.5s;
  -webkit-box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
  -moz-box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
  box-shadow: 8px 15px 20px -15px rgba(62,80,92,0.5);
}

#tweet-container header {
  background-color: #d9d9d9ad;
  color: white;
  border-top-right-radius: 5px;
  float: left;
  width: 100%;
}

#tweet-container article:hover header {
  transition: 0.3s;
  background-color: #d9d9d9;
  border-top-left-radius: 0px;
}

#tweet-container header img {
  float: left;
  width: 40px;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 5px;
}

#tweet-container header h2 {
  font-size: 115%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #494c50c4;
}

article:hover #tweet-container header h2 {
  color: #494c50;
}

#tweet-container header h3 {
  font-size: 90%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  color: #767b82;
  opacity: 0.8;
}

article:hover #tweet-container header h3 {
  color: #767b82;
  opacity: 1;
}

#tweet-container  p {
  overflow-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 70px;
  padding-bottom: 15px;
  opacity: 1;
  color: #494c50;
  /*font-size: 100%*/
}

#tweet-container footer {
  margin-top: 10px;
  margin-bottom: 0px;
  height: 25px;
  border-bottom-right-radius: 5px;
  padding-bottom: 2px;
  background-color: #d9d9d9ad;
}

#tweet-container article:hover footer {
  transition: 0.3s;
  background-color: #d9d9d9;
}

#tweet-container footer span {
  font-size: 75%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #767b82;
}

.thumb-div {
  float: right;
  color: #5bade8;
  margin-left: 5px;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.thumb-div:hover {
  color: white;
}

.retweet-div {
  float: right;
  color: #5bade8;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.retweet-div:hover {
  color: white;
}

.flag-div {
  float: right;
  color: #5bade8;
  margin-left: 2px;
  margin-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.flag-div:hover {
  color: white;
}

.fa-thumbs-up {
  opacity: 0;
  font-size: 95%;
}

article:hover .fa-thumbs-up {
  opacity: 1;
  transition: 0.4s;
}


.fa-retweet {
  opacity: 0;
  font-size: 100%;
}

article:hover .fa-retweet {
  opacity: 1;
  transition: 0.4s;
}

.fa-flag {
  opacity: 0;
  font-size: 85%;
}

article:hover .fa-flag {
  opacity: 1;
  transition: 0.4s;
}